* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Whitney;
}

.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

.header {
  background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
}
.header__top {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  padding-bottom: 103px;
}
.header__main_left {
  margin-top: 43px;
}
.header__main_right {
  margin-left: -46px;
}
.header__heading {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  width: 527px;
  margin-bottom: 30px;
}
.header__heading-mod {
  font-weight: 350;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  width: 515px;
}
.header__button {
  margin-top: 60px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__text {
  font-weight: 325;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.navigation__text:hover {
  text-decoration: underline;
}
.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__block:last-child {
  margin-left: 99px;
  margin-right: 13px;
}
.navigation__block_img {
  margin-right: 12px;
}

.button {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #F25B24;
  border-radius: 4px;
  padding: 16px 60px;
  display: inline-block;
  transition: 0.3s;
}
.button:hover {
  background: #f20022;
}

.main {
  margin-top: 130px;
}
.main__items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main__heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #2E2D35;
}
.main__item {
  font-family: "Segoe UI";
  display: flex;
  justify-content: space-between;
  width: 570px;
  height: 235px;
  background: #F6F5F9;
  border-radius: 6px;
}
.main__item-heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #2E2D35;
  width: 223px;
  margin-bottom: 22px;
}
.main__item-text {
  font-size: 16px;
  line-height: 23px;
  color: #474351;
}
.main__item_contains {
  margin-left: 40px;
  margin-top: 43px;
}
.main__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.footer {
  margin-top: 130px;
  margin-bottom: 185px;
}
.footer__contains {
  background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  border-radius: 10px;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.footer__heading {
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: #FFFFFF;
  margin-bottom: 46px;
  width: 558px;
}
.footer__img {
  position: absolute;
  right: 0;
  top: 24px;
}

.registration {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 24, 47, 0.3);
  top: 0;
  left: 0;
  display: none;
}
.registration__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 10px;
  transition: all 0.8s ease 0s;
}
.registration__form {
  width: 490px;
  height: 472px;
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  position: relative;
}
.registration__heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #2E2D35;
  padding-top: 60px;
  margin-bottom: 35px;
}
.registration__text {
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  color: #474351;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 60px;
}
.registration__input {
  width: 370px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DDDAE7;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 325;
  font-size: 16px;
  line-height: 100%;
  color: #918D9A;
  margin-bottom: 18px;
  padding-left: 12px;
  padding-right: 16px;
}
.registration__input:focus::placeholder {
  text-indent: 500px;
  transition: text-indent 0.7s ease;
}
.registration__button {
  width: 370px;
  height: 50px;
  background: #F25B24;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
  border: none;
  transition: 0.3s;
}
.registration__button:hover {
  background: #f20022;
}
.registration__close {
  position: absolute;
  top: 24px;
  right: 24px;
  transition: 0.3s;
}
.registration__close:hover {
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
