* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

.header {
  background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  &__top {
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
    padding-bottom: 103px;

    &_left {
      margin-top: 43px;
    }
    &_right {
      margin-left: -46px;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    width: 527px;
    margin-bottom: 30px;
    &-mod {
      font-weight: 350;
      font-size: 24px;
      line-height: 31px;
      color: #FFFFFF;
      width: 515px;
    }
  }
  &__button {
    margin-top: 60px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-weight: 325;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    &:hover {
      text-decoration: underline;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      margin-left: 99px;
      margin-right: 13px;
    }
    &_img {
      margin-right: 12px;
    }
  }
}

.button {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: #F25B24;
  border-radius: 4px;
  padding: 16px 60px;
  display: inline-block;
  transition: 0.3s;
  &:hover {
    background: #f20022;
  }
}

.main {
  margin-top: 130px;

  &__items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #2E2D35;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 570px;
    height: 235px;
    background: #F6F5F9;
    border-radius: 6px;
    &-heading {
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
      color: #2E2D35;
      width: 223px;
      margin-bottom: 22px;
    }
    &-text {
      font-size: 16px;
      line-height: 23px;
      color: #474351;
    }
    &_contains {
      margin-left: 40px;
      margin-top: 43px;
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }
  }
}

.footer {
  margin-top: 130px;
  margin-bottom: 185px;

  &__contains {
    background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
    border-radius: 10px;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    //background-image: url(../img/footer_img.png);
  }
  &__heading {
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #FFFFFF;
    margin-bottom: 46px;
    width: 558px;
  }
  &__img {
    position: absolute;
    right: 0;
    top: 24px;
  }
}

.registration {
  &__form {
    width: 490px;
    height: 472px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &__heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #2E2D35;
    padding-top: 60px;
    margin-bottom: 35px;
  }

  &__text {
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    color: #474351;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 60px;
  }

  &__input {
    width: 370px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DDDAE7;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 325;
    font-size: 16px;
    line-height: 100%;
    color: #918D9A;
    margin-bottom: 18px;
    padding-left: 12px;
    padding-right: 16px;
    &:focus::placeholder {
      text-indent: 500px;
      transition: text-indent 0.7s ease;
    }
  }

  &__button {
    width: 370px;
    height: 50px;
    background: #F25B24;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    border: none;
    transition: 0.3s;
    &:hover {
      background: #f20022;
    }
  }

  &__form {
    text-align: center;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    transition: 0.3s;
    &:hover {
      transform: rotate(45deg);
    }
  }
}